{% extends 'partials/base.html' %}

{% load static %}

{% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    {% load static %}
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
        style="background-image: url('{% static 'assets/images/backgrounds/login-bg.jpg' %}')">

        <div class="container">

            <div class="form-box">

                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link {% if not login_active %}active{% endif %}" id="signin-tab-2"
                                data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2"
                                aria-selected="false">Sign In</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <!-- Sign-in form content -->
                        <form method="POST">
                            {% csrf_token %}
                            {% if form.errors %}
                            <div class="alert alert-danger" id="form-errors">
                                <strong>{{ form.errors }}</strong>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="email">Username or email address *</label>
                                <input type="text" class="form-control" id="signin-email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password *</label>
                                <input type="password" class="form-control" id="signin-password" name="password"
                                    required>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-outline-primary-2">
                                    <span>LOG IN</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="signin-remember">
                                    <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                </div>
                                <a href="#" class="forgot-link">Forgot Your Password?</a>
                            </div>
                        </form>
                        <div class="form-group">Don’t have an Account?</div>
                        <a href="{% url 'userauths:sign-up' %}"><i class="icon-user"></i>Sign Up</a>

                        <div class="form-choice">
                            <p class="text-center">or sign in with</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="#" class="btn btn-login btn-g">
                                        <i class="icon-google"></i>
                                        Login With Google
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="#" class="btn btn-login btn-f">
                                        <i class="icon-facebook-f"></i>
                                        Login With Facebook
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function hideFormErrors() {
        setTimeout(function () {
            document.getElementById('form-errors').style.display = 'none';
        }, 5000); // 5000 milliseconds = 5 seconds
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Hide form errors initially
        hideFormErrors();

        // Listen for tab click events
        document.querySelectorAll('.nav-link').forEach(function (tabLink) {
            tabLink.addEventListener('click', function () {
                // Hide form errors when switching tabs
                document.getElementById('form-errors').style.display = 'none';
            });
        });
    });
</script>

{% endblock content %}